/*-----------------------------------------------------------------------------------*/
/*  MY CUSTOM CSS
/*-----------------------------------------------------------------------------------*/

/* for equal height columns in row */
@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

/* for prism code section */
code[class*="language-"],
pre[class*="language-"] {
  font-size: 120%;
}


/* for dragon canvas and controls */
#canvas {
  background-color: rgba(0, 0, 0, 0.7);
}

#dragon_controls {
  background-color: rgba(50, 58, 69, 0.6);
}

input[type="number"] {
  color: #000;
   width: 65px;
}

/* background for projects & about me sections */
#projects {
  background: transparent url("../img/projects_tile.jpg");
}

#about-me {
  background: transparent url("../img/about_me_tile.jpg");
}
